<configuration>
    <!-- 1. Настройка вывода в консоль: цветной, с подробным форматом -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 2. Настройка вывода в файл: сохраняем логи в папке logs проекта -->

    <timestamp key="timestamp" datePattern="yyyy-MM-dd_HH-mm-ss"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">

        <file>logs/automation-tests-${timestamp}.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 3. Корневой уровень логирования. По умолчанию пишем всё от INFO -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <!-- 4. Пример: для DEBUG -->
    <logger name="com.saucedemo" level="DEBUG"/>
</configuration>